.fondo{
    background-image : url('src\assets\fondo1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.imagenes{
    width: 200px;
    height: 200px;
}
.comics{
    top: 90%;
    width: 80%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:30%;
}