
<body>

    <a href="#" class="image">
    
        <img src="assets/Marvel_Logo2.jpeg" alt="logo de la aplicacion">
            
         </a>
            
    <h1>Series</h1>
    
    <div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
    <div fxFlex="20" fxFlex.md="33"  fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" 
    *ngFor="let character of allSeries | async">
    <mat-card  class="comics" style="background-color: rgba(219, 48, 48, 0.719)">
    <img mat-card-image class="imagenes" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.title}}">
    <mat-card-title style="color: aliceblue;">
        {{character.title}}
    </mat-card-title>
    
    </mat-card>
    
    </div>
    
        </div>
    
    
    </div>
</body>
