


<mat-sidenav-container class="sidenav-container">

    <mat-toolbar class="encabezado">
      <img class="logo" src="./assets/libreria.png" wid>
      <a class="botonimagen"></a>
   
     <a class="botonimagen2"></a>
    </mat-toolbar>
<mat-toolbar class="encabezado2">

    
    <a class="botones" href="https://www.freecodecamp.org/">COMICS</a>
    <a class="botones" href="https://www.freecodecamp.org/">CREADORES</a>
    <a class="botones" href="https://www.freecodecamp.org/">EVENTOS</a>
    <a class="botones" href="https://www.freecodecamp.org/">SERIES</a>
    <a class="botones" href="https://www.freecodecamp.org/">ACERCA DE NOSOTROS</a>

</mat-toolbar>

<mat-toolbar class="footerr">

<div>
    <a href="https://es-la.facebook.com/" class="image">
        <img src="./assets/facebook.jpeg" alt="">
    </a>
    <a href="https://www.instagram.com/" class="image">
        <img src="./assets/instagram.jpeg" alt="logo de la aplicacion">
    </a>
    <a href="https://twitter.com/i/flow/login" class="image">
        <img src="./assets/twitter.jpeg" alt="">
    </a>
</div>
    <div>
        <a href="#" class="image">
            <img class="disney" src="./assets/disney.jpeg" alt="logo de la aplicacion">
        </a>
        <a href="#" class="image">
            <img src="./assets/Marvel_Logo2.jpeg" alt="logo de la aplicacion">
        </a>
    </div>

</mat-toolbar>


    <!-- Add Content Here -->
<router-outlet></router-outlet>

</mat-sidenav-container>
