.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.encabezado{
  background: white;
  width: 100%;
  height: 150px;
}

.logo{
  width: 200px;
  height: 100px;
  position: relative;
  top: 10%;
  left: 550px;
}

.botonimagen{
  width: 200px;
  height: 60px;
  background-image : url('src\assets\flecha.jpg');
  background-size: 20px 20px;
  position: relative;
  background-repeat: no-repeat;
  left: -190px;
  top: 70px;


}

.botonimagen2{
  width: 50px;
  height: 60px;
  background-image : url('src\assets\Login.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  text-align: right;
  position: relative;
  top: 60px;
  left: 800px;

}

.encabezado2{
  width: 100%;
  height: 55px;
  background: rgb(0, 0, 0);
}


.botones{
  color: white;
 text-decoration: none;
  margin:70px;
}


.footerr{
  background: white;
  width: 100%;
  height: 55px;
  display: flex;
  position: relative;
  bottom: -290%;
  /* left: 0px; */
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 2.9% -6%;
  right: 0%;
}
.image img{
  width: 27%;
  padding: 5%;
}