


<mat-sidenav-container class="sidenav-container">

    <mat-toolbar class="encabezado">
      <img class="logo" src="./assets/libreria.png" wid>
      <a class="botonimagen"></a>
   
     <a class="botonimagen2"></a>
    </mat-toolbar>
<mat-toolbar class="encabezado2">

    
    <a class="botones" href="https://www.freecodecamp.org/">COMICS</a>
    <a class="botones" href="https://www.freecodecamp.org/">CREADORES</a>
    <a class="botones" href="https://www.freecodecamp.org/">EVENTOS</a>
    <a class="botones" href="https://www.freecodecamp.org/">SERIES</a>
    <a class="botones" href="https://www.freecodecamp.org/">ACERCA DE NOSOTROS</a>

  

</mat-toolbar>





    <!-- Add Content Here -->
<router-outlet></router-outlet>

</mat-sidenav-container>
