
<mat-sidenav-container class="sidenav-container">

    <mat-toolbar class="encabezado">
        
    <a href="http://home210.s3-website-us-west-2.amazonaws.com" class="logo">
        <img src="assets/flechaa.png" alt="logo de la aplicacion">
    </a>
        
    <a href="http://home210.s3-website-us-west-2.amazonaws.com" class="logo1">
        <img src="assets/libreria.png" alt="logo de la aplicacion">
    </a>
        
    <nav>
        
    <a href="http://iniciosesion21.s3-website-us-west-2.amazonaws.com" class="login">
        <img src="assets/Login.png" alt=""></a> 
    </nav>
        
    </mat-toolbar>
    <mat-toolbar class="encabezado2">
        
        
        
        
    <!-- <a class="botones" href="https://www.freecodecamp.org/">COMICS</a>
        
            <a class="botones" href="https://www.freecodecamp.org/">CREADORES</a>
        
            <a class="botones" href="https://www.freecodecamp.org/">EVENTOS</a>
        
            <a class="botones" href="https://www.freecodecamp.org/">SERIES</a>
        
            <a class="botones" href="https://www.freecodecamp.org/">ACERCA DE NOSOTROS</a> -->
        
    <nav class="subbarra">
        
    <a href="http://comics21.s3-website-us-west-2.amazonaws.com" class="nav-link">COMICS</a>
        
    <a href="http://personajes21.s3-website-us-west-2.amazonaws.com" class="nav-link">PERSONAJES</a>
        
     <a href="http://eventos21.s3-website-us-west-2.amazonaws.com" class="nav-link">EVENTOS</a>
        
    <a href="http://series21.s3-website-us-west-2.amazonaws.com" class="nav-link">SERIES</a>
    
    
        
    <a href="http://nosotros21.s3-website-us-west-2.amazonaws.com" class="nav-link">
        
    <pre>ACERCA DE NOSOTROS </pre>
        
    </a>
        
    </nav>
        
        
        
        
    </mat-toolbar>
        
        
        
        
    <mat-toolbar class="foterr">
        
    <div>
        
    <a href="https://es-la.facebook.com/" class="image">
        
    <img src="assets/facebook.jpeg" alt="">
        
    </a>
        
    <a href="https://www.instagram.com/" class="image">
        
    <img src="assets/instagram.jpeg" alt="logo de la aplicacion">
        
    </a>
        
    <a href="https://twitter.com/i/flow/login" class="image">
        
    <img src="assets/twitter.jpeg" alt="">
        
    </a>
        
     </div>
        
    <div>
        
    <a href="https://www.disneyplus.com/es-co?cid=DSS-Search-Google-71700000107882447-&s_kwcid=AL!8468!3!651234457801!e!!g!!disney&gad=1&gclid=CjwKCAjw04yjBhApEiwAJcvNof7fwen1d6CiP17EQRmMhssI_ZrlSb5eV7DvdN14NDO4DYlryFL5eBoCAA0QAvD_BwE&gclsrc=aw.ds" class="image">
        
    <img class="disney" src="assets/disney.jpeg" alt="logo de la aplicacion">
    </a>
        
    <a href="#" class="image">
        
    <img src="assets/Marvel_Logo2.jpeg" alt="logo de la aplicacion">
        
     </a>
        
    </div>
        
        </mat-toolbar>
        
        
        
        
     <!-- Add Content Here -->
        
    <router-outlet></router-outlet>
    </mat-sidenav-container>